In [152]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [153]:
df = pd.read_csv('https://github.com/rock-star-2003/Datasets/raw/refs/heads/main/Project/sales_data.csv')

In [154]:
df_name = pd.read_csv('https://github.com/rock-star-2003/Datasets/raw/refs/heads/main/Project/annex1.csv')

In [155]:
df2 = pd.merge(df, df_name, on='Item Code', how='left')

In [156]:
df2

,Date,Item Code,Quantity Sold (kilo),Unit Selling Price (RMB/kg),Discount (Yes/No),Item Name,Category Code,Category Name
0,2020-07-01,102900005117056,0.396,7.6,No,Paopaojiao (Jingpin),1011010504,Capsicum
1,2020-07-01,102900005115960,0.849,3.2,No,Chinese Cabbage,1011010101,Flower/Leaf Vegetables
2,2020-07-01,102900005117056,0.409,7.6,No,Paopaojiao (Jingpin),1011010504,Capsicum
3,2020-07-01,102900005115823,0.421,10.0,No,Shanghaiqing,1011010101,Flower/Leaf Vegetables
4,2020-07-01,102900005117056,0.277,7.6,No,Paopaojiao (Jingpin),1011010504,Capsicum
...,...,...,...,...,...,...,...,...
515810,2023-06-30,106949711300259,1.000,1.2,Yes,Needle Mushroom (Box),1011010801,Edible Mushroom
515811,2023-06-30,102900011016701,0.097,5.2,No,Wuhu Green Pepper (1),1011010504,Capsicum
515812,2023-06-30,102900005116899,0.664,8.0,Yes,Net Lotus Root (1),1011010402,Aquatic Tuberous Vegetables
515813,2023-06-30,102900005116714,0.358,11.2,No,Broccoli,1011010201,Cabbage
515814,2023-06-30,102900011016701,0.252,5.2,No,Wuhu Green Pepper (1),1011010504,Capsicum

In [157]:
df = df2.iloc[:,:-2]
df

,Date,Item Code,Quantity Sold (kilo),Unit Selling Price (RMB/kg),Discount (Yes/No),Item Name
0,2020-07-01,102900005117056,0.396,7.6,No,Paopaojiao (Jingpin)
1,2020-07-01,102900005115960,0.849,3.2,No,Chinese Cabbage
2,2020-07-01,102900005117056,0.409,7.6,No,Paopaojiao (Jingpin)
3,2020-07-01,102900005115823,0.421,10.0,No,Shanghaiqing
4,2020-07-01,102900005117056,0.277,7.6,No,Paopaojiao (Jingpin)
...,...,...,...,...,...,...
515810,2023-06-30,106949711300259,1.000,1.2,Yes,Needle Mushroom (Box)
515811,2023-06-30,102900011016701,0.097,5.2,No,Wuhu Green Pepper (1)
515812,2023-06-30,102900005116899,0.664,8.0,Yes,Net Lotus Root (1)
515813,2023-06-30,102900005116714,0.358,11.2,No,Broccoli
515814,2023-06-30,102900011016701,0.252,5.2,No,Wuhu Green Pepper (1)

In [158]:

# Replace 'Yes' with 1 and 'No' with 0 in the 'Discount (Yes/No)' column
df['Discount (Yes/No)'] = df['Discount (Yes/No)'].replace({'Yes': 1, 'No': 0})
df

C:\Users\Achu Raj\AppData\Local\Temp\ipykernel_15044\1172492008.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Discount (Yes/No)'] = df['Discount (Yes/No)'].replace({'Yes': 1, 'No': 0})

,Date,Item Code,Quantity Sold (kilo),Unit Selling Price (RMB/kg),Discount (Yes/No),Item Name
0,2020-07-01,102900005117056,0.396,7.6,0,Paopaojiao (Jingpin)
1,2020-07-01,102900005115960,0.849,3.2,0,Chinese Cabbage
2,2020-07-01,102900005117056,0.409,7.6,0,Paopaojiao (Jingpin)
3,2020-07-01,102900005115823,0.421,10.0,0,Shanghaiqing
4,2020-07-01,102900005117056,0.277,7.6,0,Paopaojiao (Jingpin)
...,...,...,...,...,...,...
515810,2023-06-30,106949711300259,1.000,1.2,1,Needle Mushroom (Box)
515811,2023-06-30,102900011016701,0.097,5.2,0,Wuhu Green Pepper (1)
515812,2023-06-30,102900005116899,0.664,8.0,1,Net Lotus Root (1)
515813,2023-06-30,102900005116714,0.358,11.2,0,Broccoli
515814,2023-06-30,102900011016701,0.252,5.2,0,Wuhu Green Pepper (1)

In [160]:
df = df.drop(columns=['Item Code'])

In [161]:
# Convert the 'Date' column to datetime objects if it's not already
df['Date'] = pd.to_datetime(df['Date'])

# Group by date and item name, then sum the sales
daily_sales = df.groupby(['Date', 'Item Name'])['Quantity Sold (kilo)'].sum().reset_index()

# Print or use the daily_sales Series
daily_sales

            Date              Item Name  Quantity Sold (kilo)
0     2020-07-01               Broccoli                34.554
1     2020-07-01        Chinese Cabbage                14.748
2     2020-07-01           Eggplant (2)                17.661
3     2020-07-01            Hongshujian                22.402
4     2020-07-01        Huangbaicai (2)                 6.549
...          ...                    ...                   ...
14394 2023-06-30     Net Lotus Root (1)                 6.440
14395 2023-06-30           Shanghaiqing                 7.036
14396 2023-06-30  Wuhu Green Pepper (1)                15.896
14397 2023-06-30   Yunnan Lettuce (Bag)                36.000
14398 2023-06-30               Zhuyecai                12.884

[14399 rows x 3 columns]

In [162]:
salesCount = df.groupby(['Date','Item Name'])['Item Name'].value_counts().rename('Sales_count').reset_index()
salesCount

            Date              Item Name  Sales_count
0     2020-07-01               Broccoli           79
1     2020-07-01        Chinese Cabbage           16
2     2020-07-01           Eggplant (2)           32
3     2020-07-01            Hongshujian           58
4     2020-07-01        Huangbaicai (2)           11
...          ...                    ...          ...
14394 2023-06-30     Net Lotus Root (1)           13
14395 2023-06-30           Shanghaiqing           15
14396 2023-06-30  Wuhu Green Pepper (1)           46
14397 2023-06-30   Yunnan Lettuce (Bag)           36
14398 2023-06-30               Zhuyecai           32

[14399 rows x 3 columns]

In [163]:
daily_sales = pd.merge(daily_sales,salesCount,on = ['Date' , 'Item Name'],how='left')

In [164]:
dis = df.groupby(['Date' , 'Item Name'])['Discount (Yes/No)'].sum().reset_index()
dis

            Date              Item Name  Discount (Yes/No)
0     2020-07-01               Broccoli                  0
1     2020-07-01        Chinese Cabbage                  0
2     2020-07-01           Eggplant (2)                  0
3     2020-07-01            Hongshujian                 31
4     2020-07-01        Huangbaicai (2)                  0
...          ...                    ...                ...
14394 2023-06-30     Net Lotus Root (1)                  3
14395 2023-06-30           Shanghaiqing                  0
14396 2023-06-30  Wuhu Green Pepper (1)                  0
14397 2023-06-30   Yunnan Lettuce (Bag)                  2
14398 2023-06-30               Zhuyecai                  0

[14399 rows x 3 columns]

In [165]:

dis['Discount (Yes/No)'] = dis['Discount (Yes/No)'].apply(lambda x: 1 if x > 0 else 0)
dis

            Date              Item Name  Discount (Yes/No)
0     2020-07-01               Broccoli                  0
1     2020-07-01        Chinese Cabbage                  0
2     2020-07-01           Eggplant (2)                  0
3     2020-07-01            Hongshujian                  1
4     2020-07-01        Huangbaicai (2)                  0
...          ...                    ...                ...
14394 2023-06-30     Net Lotus Root (1)                  1
14395 2023-06-30           Shanghaiqing                  0
14396 2023-06-30  Wuhu Green Pepper (1)                  0
14397 2023-06-30   Yunnan Lettuce (Bag)                  1
14398 2023-06-30               Zhuyecai                  0

[14399 rows x 3 columns]

In [166]:
# Merge 'dis' with 'df' on 'Date' and 'Item Name'
daily_sales = pd.merge(daily_sales, dis, on=['Date', 'Item Name'], how='left')

# Display the merged DataFrame
daily_sales

,Date,Item Name,Quantity Sold (kilo),Sales_count,Discount (Yes/No)
0,2020-07-01,Broccoli,34.554,79,0
1,2020-07-01,Chinese Cabbage,14.748,16,0
2,2020-07-01,Eggplant (2),17.661,32,0
3,2020-07-01,Hongshujian,22.402,58,1
4,2020-07-01,Huangbaicai (2),6.549,11,0
...,...,...,...,...,...
14394,2023-06-30,Net Lotus Root (1),6.440,13,1
14395,2023-06-30,Shanghaiqing,7.036,15,0
14396,2023-06-30,Wuhu Green Pepper (1),15.896,46,0
14397,2023-06-30,Yunnan Lettuce (Bag),36.000,36,1
14398,2023-06-30,Zhuyecai,12.884,32,0

In [167]:
daily_sales['Discount (Yes/No)'].value_counts()

Discount (Yes/No)
0    12966
1     1433
Name: count, dtype: int64

In [168]:
price = df.groupby(['Date','Item Name','Unit Selling Price (RMB/kg)'])['Item Name'].value_counts().reset_index()
price

            Date              Item Name  Unit Selling Price (RMB/kg)  count
0     2020-07-01               Broccoli                         14.0     79
1     2020-07-01        Chinese Cabbage                          3.2     16
2     2020-07-01           Eggplant (2)                          6.0     32
3     2020-07-01            Hongshujian                          4.0     31
4     2020-07-01            Hongshujian                          6.0     27
...          ...                    ...                          ...    ...
16934 2023-06-30           Shanghaiqing                          8.0     15
16935 2023-06-30  Wuhu Green Pepper (1)                          5.2     46
16936 2023-06-30   Yunnan Lettuce (Bag)                          4.6      2
16937 2023-06-30   Yunnan Lettuce (Bag)                          5.8     34
16938 2023-06-30               Zhuyecai                          3.4     32

[16939 rows x 4 columns]

In [169]:
# Drop duplicate rows based on 'Date' and 'Item Name', keeping the first occurrence
price = price.drop_duplicates(subset=['Date', 'Item Name'], keep='first')
price

            Date              Item Name  Unit Selling Price (RMB/kg)  count
0     2020-07-01               Broccoli                         14.0     79
1     2020-07-01        Chinese Cabbage                          3.2     16
2     2020-07-01           Eggplant (2)                          6.0     32
3     2020-07-01            Hongshujian                          4.0     31
5     2020-07-01        Huangbaicai (2)                          9.0     11
...          ...                    ...                          ...    ...
16932 2023-06-30     Net Lotus Root (1)                          8.0      2
16934 2023-06-30           Shanghaiqing                          8.0     15
16935 2023-06-30  Wuhu Green Pepper (1)                          5.2     46
16936 2023-06-30   Yunnan Lettuce (Bag)                          4.6      2
16938 2023-06-30               Zhuyecai                          3.4     32

[14399 rows x 4 columns]

In [170]:
daily_sales = pd.merge(daily_sales,price,on=['Date','Item Name'],how='left')

In [171]:
daily_sales = daily_sales.iloc[:,:-1]
daily_sales

,Date,Item Name,Quantity Sold (kilo),Sales_count,Discount (Yes/No),Unit Selling Price (RMB/kg)
0,2020-07-01,Broccoli,34.554,79,0,14.0
1,2020-07-01,Chinese Cabbage,14.748,16,0,3.2
2,2020-07-01,Eggplant (2),17.661,32,0,6.0
3,2020-07-01,Hongshujian,22.402,58,1,4.0
4,2020-07-01,Huangbaicai (2),6.549,11,0,9.0
...,...,...,...,...,...,...
14394,2023-06-30,Net Lotus Root (1),6.440,13,1,8.0
14395,2023-06-30,Shanghaiqing,7.036,15,0,8.0
14396,2023-06-30,Wuhu Green Pepper (1),15.896,46,0,5.2
14397,2023-06-30,Yunnan Lettuce (Bag),36.000,36,1,4.6
14398,2023-06-30,Zhuyecai,12.884,32,0,3.4

In [173]:
# Assuming 'daily_sales' DataFrame exists and has a 'Date' column
daily_sales['monthOfyear'] = pd.to_datetime(daily_sales['Date']).dt.month
daily_sales['DayOfWeek'] = daily_sales['Date'].dt.dayofweek  # Monday=0, Sunday=6
daily_sales['DayOfMonth'] = daily_sales['Date'].dt.day
daily_sales['year'] = daily_sales['Date'].dt.year
daily_sales['Weekend'] = daily_sales['DayOfWeek'].apply(lambda x: 1 if x in [5, 6] else 0)
# Calculate the week of the month
daily_sales['WeekOfMonth'] = (daily_sales['DayOfMonth'] - 1) // 7 + 1
daily_sales['quater'] = daily_sales['Date'].dt.quarter
daily_sales

,Date,Item Name,Quantity Sold (kilo),Sales_count,Discount (Yes/No),Unit Selling Price (RMB/kg),monthOfyear,DayOfWeek,DayOfMonth,year,Weekend,WeekOfMonth,quater
0,2020-07-01,Broccoli,34.554,79,0,14.0,7,2,1,2020,0,1,3
1,2020-07-01,Chinese Cabbage,14.748,16,0,3.2,7,2,1,2020,0,1,3
2,2020-07-01,Eggplant (2),17.661,32,0,6.0,7,2,1,2020,0,1,3
3,2020-07-01,Hongshujian,22.402,58,1,4.0,7,2,1,2020,0,1,3
4,2020-07-01,Huangbaicai (2),6.549,11,0,9.0,7,2,1,2020,0,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14394,2023-06-30,Net Lotus Root (1),6.440,13,1,8.0,6,4,30,2023,0,5,2
14395,2023-06-30,Shanghaiqing,7.036,15,0,8.0,6,4,30,2023,0,5,2
14396,2023-06-30,Wuhu Green Pepper (1),15.896,46,0,5.2,6,4,30,2023,0,5,2
14397,2023-06-30,Yunnan Lettuce (Bag),36.000,36,1,4.6,6,4,30,2023,0,5,2
14398,2023-06-30,Zhuyecai,12.884,32,0,3.4,6,4,30,2023,0,5,2

In [174]:

# Create an instance of LabelEncoder
encoder = LabelEncoder()

# Fit and transform the 'Item Name' column
daily_sales['Item Name'] = encoder.fit_transform(daily_sales['Item Name'])

daily_sales

,Date,Item Name,Quantity Sold (kilo),Sales_count,Discount (Yes/No),Unit Selling Price (RMB/kg),monthOfyear,DayOfWeek,DayOfMonth,year,Weekend,WeekOfMonth,quater
0,2020-07-01,0,34.554,79,0,14.0,7,2,1,2020,0,1,3
1,2020-07-01,1,14.748,16,0,3.2,7,2,1,2020,0,1,3
2,2020-07-01,2,17.661,32,0,6.0,7,2,1,2020,0,1,3
3,2020-07-01,3,22.402,58,1,4.0,7,2,1,2020,0,1,3
4,2020-07-01,4,6.549,11,0,9.0,7,2,1,2020,0,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14394,2023-06-30,9,6.440,13,1,8.0,6,4,30,2023,0,5,2
14395,2023-06-30,12,7.036,15,0,8.0,6,4,30,2023,0,5,2
14396,2023-06-30,14,15.896,46,0,5.2,6,4,30,2023,0,5,2
14397,2023-06-30,16,36.000,36,1,4.6,6,4,30,2023,0,5,2
14398,2023-06-30,19,12.884,32,0,3.4,6,4,30,2023,0,5,2

In [175]:
x = daily_sales.drop(columns = ['Date','Quantity Sold (kilo)','Sales_count'])
y = daily_sales.iloc[:,2]

In [176]:

# Import necessary libraries (assuming they are already installed)
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor #, GradientBoostingRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error, r2_score,mean_absolute_percentage_error

# ... (Your existing code for data preprocessing) ...

# Split data into training and testing sets (assuming x and y are defined)
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)
# from sklearn.preprocessing import StandardScaler
# sc = StandardScaler()
# x_train = sc.fit_transform(x_train)
# X_test = sc.transform(x_test)

# Initialize regression models
models = {
    "Linear Regression": LinearRegression(),
    "Ridge Regression": Ridge(),
    "Lasso Regression": Lasso(),
    "Elastic Net": ElasticNet(),
    "Decision Tree": DecisionTreeRegressor(),
    "Random Forest": RandomForestRegressor(),
    "Support Vector Regression": SVR(),
    "K-Nearest Neighbors": KNeighborsRegressor()
}

results = {}

for name, model in models.items():
    model.fit(x_train, y_train)  # Train the model
    y_pred = model.predict(x_test) # Make predictions

    mse = mean_squared_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)
    mase = mean_absolute_percentage_error(y_test,y_pred)
    results[name] = {"MSE": mse, "R-squared": r2,"mase" : mase}

# Find the best model based on MSE (lower is better)
best_model_mse = min(results, key=lambda k: results[k]["MSE"])
best_model_r2 = max(results, key=lambda k: results[k]["R-squared"])
best_model_mase = min(results, key=lambda k: results[k]["mase"])


print("Model Performance:")
for name, metrics in results.items():
    print(f"{name}: MSE={metrics['MSE']:.4f}, R-squared={metrics['R-squared']:.4f}, mase={metrics['mase']:.4f}")

print(f"\nBest model based on lowest MSE: {best_model_mse}")
print(f"\nBest model based on highest R-squared: {best_model_r2}")
print(f"\nBest model based on highest best_model_mase: {best_model_mase}")

Model Performance:
Linear Regression: MSE=314.9466, R-squared=0.1006, mase=2.6191
Ridge Regression: MSE=314.9438, R-squared=0.1006, mase=2.6192
Lasso Regression: MSE=327.3088, R-squared=0.0653, mase=2.7865
Elastic Net: MSE=325.6410, R-squared=0.0700, mase=2.7706
Decision Tree: MSE=217.4330, R-squared=0.3791, mase=1.0368
Random Forest: MSE=114.2548, R-squared=0.6737, mase=0.9574
Support Vector Regression: MSE=380.6140, R-squared=-0.0870, mase=2.0817
K-Nearest Neighbors: MSE=208.2363, R-squared=0.4053, mase=1.5323

Best model based on lowest MSE: Random Forest

Best model based on highest R-squared: Random Forest

Best model based on highest best_model_mase: Random Forest

In [177]:
# # Define the parameter grid for hyperparameter tuning
# param_grid = {
#     'n_estimators': [100, 200, 300],
#     'max_depth': [None, 10, 20, 30],
#     'min_samples_split': [2, 5, 10],
#     'min_samples_leaf': [1, 2, 4],
#     'max_features': ['auto', 'sqrt', 'log2']
# }

# # Initialize the Random Forest Regressor
# rf = RandomForestRegressor(random_state=42)

# # Initialize GridSearchCV with 5-fold cross-validation
# grid_search = GridSearchCV(estimator=rf, param_grid=param_grid, cv=5, n_jobs=-1, scoring='neg_mean_squared_error', verbose=2)

# # Fit GridSearchCV to the training data
# grid_search.fit(x_train, y_train)

# # Get the best parameters and the best model
# best_params = grid_search.best_params_
# best_model = grid_search.best_estimator_

# print("Best Parameters:", best_params)
# print("Best Model:", best_model)

# # Evaluate the best model on the test set
# y_pred = best_model.predict(x_test)
# mse = mean_squared_error(y_test, y_pred)
# r2 = r2_score(y_test, y_pred)
# mase = mean_absolute_percentage_error(y_test, y_pred)

# print(f"Test MSE: {mse:.4f}")
# print(f"Test R-squared: {r2:.4f}")
# print(f"Test MASE: {mase:.4f}")

# Test MSE: 118.4762
# Test R-squared: 0.6617
# Test MASE: 1.2887

In [178]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score,mean_absolute_percentage_error
# Initialize and train the RandomForestRegressor
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=1)
rf_model = RandomForestRegressor()
rf_model.fit(x_train, y_train)

# Make predictions
y_pred_rf = rf_model.predict(x_test)

# Evaluate the model
mse_rf = mean_squared_error(y_test, y_pred_rf)
r2_rf = r2_score(y_test, y_pred_rf)
mape_rf = mean_absolute_percentage_error(y_test, y_pred_rf)

print(f"Random Forest Regression: MSE={mse_rf:.4f}, R-squared={r2_rf:.4f}, mape_rf={mape_rf:.4f}")

Random Forest Regression: MSE=107.6016, R-squared=0.6984, mape_rf=1.0964

In [179]:
# model
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
# Initialize and train the RandomForestRegressor
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=1)
rf_model = RandomForestRegressor()
rf_model.fit(x, y)

RandomForestRegressor()

In [180]:
# final_predit
item_and_discount = []
# print('enter Discount if NO "0" else "1"')
# for i in range(len(item_name)):
#   dis = int(input(f'Discount of {item_name[i]}'))
#   unit_price = float(input(f'Unit Price of {item_name[i]}'))
#   item_and_discount.append([item_name[i],daily_sales['Item Name'].unique()[i],dis,unit_price])
item_and_discount = [
  ['Broccoli', 0, 0, 12.0],
 ['Chinese Cabbage', 1, 1, 13.45],
 ['Eggplant (2)', 2, 0, 11.3],
 ['Hongshujian', 3, 0, 7.0],
 ['Huangbaicai (2)', 4, 1, 15.0],
 ['Millet Pepper', 6, 0, 5.6],
 ['Paopaojiao (Jingpin)', 10, 0, 6.78],
 ['Qinggengsanhua', 11, 1, 11.3],
 ['Shanghaiqing', 12, 1, 11.24],
 ['Spinach', 13, 0, 12.3],
 ['Xixia Mushroom (1)', 15, 0, 5.67],
 ['Yunnan Lettuces', 17, 1, 12.0],
 ['Yunnan Shengcai', 18, 0, 4.78],
 ['Zhuyecai', 19, 1, 23.4],
 ['Luosi Pepper', 5, 0, 11.1],
 ['Net Lotus Root (1)', 9, 0, 11.43],
 ['Naibaicai', 7, 0, 14.23],
 ['Wuhu Green Pepper (1)', 14, 0, 7.56],
 ['Yunnan Lettuce (Bag)', 16, 0, 9.89],
 ['Needle Mushroom (Box)', 8, 0, 7.4]
]

In [181]:
predicted_future_sales = []
def pfs(date,data):
  weekend = 0
  if pd.to_datetime(date).day_of_week == 5 or pd.to_datetime(date).day_of_week == 6:
    weekend = 1
  # Create a DataFrame instead of a dictionary
  data_df = pd.DataFrame({
      'Item Name': [data[1]],  # Use the encoded value for 'Item Name'
      'Discount (Yes/No)': [data[2]],
      'Unit Selling Price (RMB/kg)': [data[3]],  # Example Value
      'monthOfyear': [pd.to_datetime(date).month],
      'DayOfWeek': [pd.to_datetime(date).day_of_week],
      'DayOfMonth': [pd.to_datetime(date).day],
      'year': [pd.to_datetime(date).year],
      'Weekend': [weekend],
      'WeekOfMonth': [(pd.to_datetime(date).day - 1) // 7 + 1],
      'quater': [pd.to_datetime(date).quarter]
  })

  predicted_future_sales.append([date,data[0],rf_model.predict(data_df)[0],data[2],data[3]])



from datetime import timedelta,datetime
def sales_forcasting(dt_start,dt_end,discounted):
  while dt_start <= dt_end:
    dt_start+= timedelta(days=1)
    for i in item_and_discount:
      pfs(dt_start,i)



start_date = datetime.now().date()
end_date = start_date + timedelta(days=30)

dates = sales_forcasting(start_date,end_date,0)

In [182]:

# Create a DataFrame from the list
predicted_sales_df = pd.DataFrame(predicted_future_sales)
predicted_sales_df.columns = ['Date','Item Name','Predicted Sales','Discount (Yes/No)','Unit Selling Price (RMB/kg)']

# Now you have a DataFrame named 'predicted_sales_df' with the specified columns

predicted_sales_df

,Date,Item Name,Predicted Sales,Discount (Yes/No),Unit Selling Price (RMB/kg)
0,2025-01-25,Broccoli,27.19368,0,12.00
1,2025-01-25,Chinese Cabbage,27.72832,1,13.45
2,2025-01-25,Eggplant (2),16.41509,0,11.30
3,2025-01-25,Hongshujian,3.73355,0,7.00
4,2025-01-25,Huangbaicai (2),4.15961,1,15.00
...,...,...,...,...,...
615,2025-02-24,Net Lotus Root (1),53.48522,0,11.43
616,2025-02-24,Naibaicai,5.81319,0,14.23
617,2025-02-24,Wuhu Green Pepper (1),27.46463,0,7.56
618,2025-02-24,Yunnan Lettuce (Bag),18.80507,0,9.89
619,2025-02-24,Needle Mushroom (Box),22.20010,0,7.40

In [183]:
total_stock_needed = predicted_sales_df.groupby(['Item Name'])['Predicted Sales'].sum().reset_index()
total_stock_needed

                Item Name  Predicted Sales
0                Broccoli        934.77301
1         Chinese Cabbage       1275.60945
2            Eggplant (2)        350.48333
3             Hongshujian        101.21491
4         Huangbaicai (2)         95.00478
5            Luosi Pepper        289.75504
6           Millet Pepper        255.82595
7               Naibaicai        229.55169
8   Needle Mushroom (Box)       1187.05438
9      Net Lotus Root (1)       1992.16055
10   Paopaojiao (Jingpin)       1163.66139
11         Qinggengsanhua        315.07461
12           Shanghaiqing        277.01150
13                Spinach        298.80597
14  Wuhu Green Pepper (1)       1068.71629
15     Xixia Mushroom (1)        825.37693
16   Yunnan Lettuce (Bag)        605.95909
17        Yunnan Lettuces        497.40913
18        Yunnan Shengcai        352.04424
19               Zhuyecai        284.49014